.landing-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(10, 25, 47, 1), rgba(10, 25, 47, 1));
    background-size: cover;
    flex-direction: column;
}

.landing-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #0a192f;
    background-color: #64ffda;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid #0a192f;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-10deg);
}

.person-img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    /* border: 0.7rem solid #64ffda; */
    background-color: #0a192f;
    padding: 0.5rem;
    opacity: 0.9;
}

.person-name {
    font-size: 2rem;
    color: #0a192f;
    background-color: #64ffda;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
}

.landing-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #64ffda;
    background-color: transparent;
    border: 0.3rem solid #64ffda;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    transition: all 0.3s;
}

.landing-btn:hover {
    background-color: #ccd6f6;
    color: #0a192f;
    border-color: #0a192f;
}
