/* navbar */
.navbar {
    width: 100%;
    height: 4rem;
    background-color: #0a192f;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.sticky {
    position: fixed;
    top: 0;
}

.nav-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #64ffda;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #ccd6f6;
}

.nav-link::before {
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: #ccd6f6;
    position: absolute;
    left: -15%;
    bottom: -0.3rem;
    transition: width 0.2s;
}

.nav-link:hover::before {
    width: 130%;
}
/* end of navbar */
