.social-media-link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #e41c6f;
    border-radius: 0.5rem;
    display: inline-block;
}

.social-media-link i {
    font-size: 3rem;
    color: #fff;
}

.copyright {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;
}
