@media (max-width: 1200px) {
    .services {
        height: auto;
        flex-wrap: wrap;
    }

    .service {
        margin: 3rem 2rem;
    }

    .contact-section {
        height: 80vh;
    }
}

@media (max-width: 800px) {
    .lading-section {
        font-size: 4rem;
    }

    .progress-bar {
        width: 50rem;
    }
}

@media (max-width: 600px) {
    .landing-heading {
        font-size: 3rem;
    }

    .nav-link {
        margin: 0 2rem;
        font-size: 1.5rem;
    }

    .about-me-section {
        padding: 10rem;
    }

    .about-me-heading {
        margin-bottom: 10rem;
    }

    .progress-bar {
        width: 45rem;
    }

    .progress-img {
        width: 100%;
    }

    .contact-form {
        width: 40rem;
    }

    .copyright {
        width: 70%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

    .landing-heading {
        font-size: 2.5rem;
    }

    .nav-link {
        margin: 0 1.5rem;
    }

    .about-me-heading {
        text-align: center;
    }

    .progress-bar {
        width: 40rem;
    }
}
